<!-- <div class="email">
<div edit-form>
  <div class="email__info">
    <p class="email__list-from"> {{ modify.name }} </p>
    <p class="email__list-date"> {{ modify.phone}} </p>

   
    <a ng-href="/#/inbox" class="email__back">
      Update
    </a>
  </div>
  <div class="email__content" ng-bind-html="email.message.content"></div>
  <div class="email__response" ng-show="reply">
    <textarea ng-model="response" class="email__response-text" placeholder="Enter a reply">
    </textarea>
    <a href="" ng-click="email.reply(response);">
      Send
    </a>
  </div>
  </div>
</div>
 -->
 
 hello work!